{
    "0" : { 
        "name" : "a0",
        "coefficient" : { 
            "z1" : 1, 
            "z2" : 1 
        }
    },
    "1" : { 
        "name" : "a1",
        "coefficient" : { 
            "z1" : 1, 
            "z2" : 1 
        }
    },
    "2" : { 
        "name" : "a2",
        "coefficient" : { 
            "z1" : 1, 
            "z2" : 1 
        }
    },
    "3" : { 
        "name" : "a3",
        "coefficient" : { 
            "z1" : 3220, 
            "z2" : 995 
        }
    }
}
